<!DOCTYPE html>
<html lang="en">
	
<body>
    <div class="container">

        <%= image_tag("two.jpg") %>
        <br>
        <br>
        <div class="col-lg-123">
                <ul id="myTab" class="nav nav-tabs nav-justified">
                    <li class="active"><a href="#service-one" data-toggle="tab"><i class="fa fa-tree"></i> Basic Subscription</a>
                    </li>
                    <li class=""><a href="#service-two" data-toggle="tab"><i class="fa fa-car"></i> Premium Subscription</a>
                    </li>
                </ul>

                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="service-one">
                        <h3>Basic Subscription</h3>
                        <p>A basic Yummy Tummies subscriptions consist of meals we deemed healthy that are provided by local franchises. We have ensured these Franchise are certified and Follow all government regulations.</p>
                        <br>
                    </div>
                    <div class="tab-pane fade" id="service-two">
                        <h3>Premium Subscription</h3>
                        <p>A Premium Yummy Tummies subscriptions consist of meals we deemed healthy that use high quality ingredients that are provided by local franchises. We have ensured these Franchise are certified and Follow all government regulations.</p>
                        
                        <br>
                    </div>
                </div>

            </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <h3 class="panel-title">Basic</h3>
                    </div>
                    <div class="panel-body">
                        <span class="price"><sup>$</sup>49<sup></sup></span>
                        <span class="period">per month</span>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><strong>1</strong> Student</li>
                        <li class="list-group-item"><strong>5</strong> Meals a Week</li>
                        <li class="list-group-item"><strong>First month FREE!</strong> </li>
                        <li class="list-group-item"><strong>Basic</strong> Menu Selection</li>
                        <li class="list-group-item"><a href="#" class="btn btn-primary btn-default" data-toggle="modal" data-target="#sign_up">Sign Up!</a></li>
                        <%= render 'layouts/sign_up_modal' %>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <h3 class="panel-title">Premium</h3>
                    </div>
                    <div class="panel-body">
                        <span class="price"><sup>$</sup>74<sup></sup></span>
                        <span class="period">per month</span>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><strong>1</strong> Student</li>
                        <li class="list-group-item"><strong>5</strong> Meals a Week</li>
                        <li class="list-group-item"><strong>First month FREE!</strong> </li>
                        <li class="list-group-item"><strong>Premium</strong> Menu Selection</li>
                        <li class="list-group-item"><a href="#" class="btn btn-primary btn-default" data-toggle="modal" data-target="#sign_up">Sign Up!</a></li>
                        <%= render 'layouts/sign_up_modal' %>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <hr>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                </div>
            </div>
        </footer>

    </div>
</body>

</html>
